.colorPickerRow {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  gap: 16px;
}

.colorPickerRow .fieldType {
  width: 100%;
}

.colorPickerRow input[type='color'] {
  width: 40px;
  height: 40px;
}

.colorPickerRow input[type='text'] {
  width: 100%;
}
